{{define "book"}}
<div class="div-box mb mt">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-photo">
                    <div id="sync1" class="owl-carousel owl-template">
                        <div class="item">
                            <figure id="image"> </figure>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7">
                <div class="single-product-content">
                    <div class="summary-product entry-summary">
                        <h2 id="title"></h2>

                        <div class="description" id="description">
                            <p></p>
                        </div>

                        {{/*<button type="submit" class="single_add_to_cart_button button alt">I want to BooX it!</button>*/}}
                        <button type="submit" id="booxIt" class="btn btn-primary btn-block">I want to BooX it!</button>
                        <div class="add-to-wishlist">
                            <div class="add-button show"> <p><a href="#" class="add_to_wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist </a>  </p></div>
                        </div>

                        <div class="product_meta"><span class="product-stock-status-wrapper">
                            <p> <label >State: </label> <span class="product-stock-status" id="state"></span></span><span class="posted_in">
                            <p><label>Categories: </label><a href="#"> Book that wants to become your new best friend </a> </p> </span><span class="tagged_as">
                            <p>  <label>Tag: </label><a href="#"> Bookcrossing/</a><a href="#">GoToBooX/</a><a href="#">Books</a> </p> </span></div>
                        <span class="popularity">
                            <p>  <label>BooXMark: </label><a href="#" id="popularity"> </a> </p></span></div>
                        <div class="social-share-wrap">
                            <label><i class="fa fa-share-alt"></i>Share:</label>
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}



