{{define "comments"}}
<div class="div-box mb mt">
    <div class="container">
        <div class="row">
            <div class="comment-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><h2 class="reviews text-capitalize">   Comments</h2></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="comments-logout">
                        <ul class="media-list" id="commentSection">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div id="commentFulfier">

        </div>
        <hr>
    </div>
</div>

{{end}}