{{define "footer"}}
<footer class="py-5 bg-dark footer" style="bottom: 1px;
    width: 100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GoToBooX 2018</p>
    </div>
</footer>
</div>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{{if eq .page "main"}}
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/v1', false);
    xhr.send();
    if (xhr.status != 200) {
        alert(xhr.status + ': ' + xhr.statusText);
    } else {
        var books = document.getElementById('books');
        var data = JSON.parse(xhr.responseText);
        if (books) {
            for (var i = 0; i < data.data['Books'].length; i++) {
                var newLi = document.createElement('li');
                var status;
                switch (data.data['Books'][i]['state']){
                    case 'FREE' : status = '/static/img/available.svg';
                        break;
                    case 'TAKEN' : status = '/static/img/taken.svg';
                        break;
                    case 'RESERVED' : status = '/static/img/reserved.svg';
                    break;
                }
                newLi.innerHTML = "<a href='/book/" + data.data['Books'][i]['id'] + "'>" + data.data['Books'][i]['title'] + "</a>"
                + "<img src='" + status + "'> ";
                books.appendChild(newLi);
            }
        }
    }
</script>
{{end}}

{{if eq .page "book"}}
<script>
    var url_string = window.location.href;
    var param = url_string.substr(url_string.lastIndexOf('/')+1);
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/v1/book/' +param, false);
    xhr.send();
    if (xhr.status != 200) {
        alert("error")
        alert(xhr.status + ': ' + xhr.statusText);
    } else {
        var BookDescription = document.getElementById('BookDescription');
        var data = JSON.parse(xhr.responseText)
        document.getElementById('title').innerHTML = "<div class='four'><h1>" + data.data['Book']['title'] + "</h1></div>";
        document.getElementById('description').innerHTML = data.data['Book']['description'];
        document.getElementById('state').innerHTML = data.data['Book']['state'];
        document.getElementById('popularity').innerHTML = data.data['Book']['popularity'];
        document.getElementById('image').innerHTML = "<img src='data:image/jpg;base64," + data.data['Book']['image'] + " 'width=\"400\" height=\"400\"/>";
    }
</script>

<script>
    $('#booxIt').on('click', function (e) {

        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"

            ));
            return matches ? decodeURIComponent(matches[1]) : 'undefined';
        }
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }

        var isLoggedInCookie = getCookie("is_logged_in");
        alert(isLoggedInCookie);
        var xhr = new XMLHttpRequest();

        if (isLoggedInCookie=="true"){
            var url_string = window.location.href;
            var param = url_string.substr(url_string.lastIndexOf('/')+1);
            xhr.open('GET', "/uploadPage/"+param, false);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    window.location.href= "/uploadPage/"+param;
                }else{

                }
            };
            xhr.send();
        }else{
            var url_string = window.location.href;
            var param = url_string.substr(url_string.lastIndexOf('/')+1);
            xhr.open('GET', "/uploadPage/"+param, false);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    setCookie("bookToReturnFromUpload",param.toString(),1);
                    window.location.href= "/register/"+param;
                    xhr.open('GET', "/register/"+param, false);
                    xhr.send();

                }else{
                }
            };
            xhr.send();
        }


    });
</script>
{{end}}

{{if eq .page "login"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js"></script>
<script type="text/javascript">
    $().ready(function () {
        $("#card").flip({
            trigger: 'manual'
        });
    });

    $(".signup_link").click(function () {
        window.location.href = "/register";
    });

    $("#unflip-btn").click(function () {

    });

    $('#submt').on('click', function (e) {
        var email = document.getElementById("inputEmail").value;
        var password = document.getElementById("inputPassword").value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/api/v1/login", false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                document.cookie = "is_logged_in=true";
                window.location.href = "/userProfile";
            }
            else {
                alert("Wrong email or password");
                window.location.href =  "/login";
            }
        };
        var data = JSON.stringify({
            "email": email,
            "password": password
        });
        xhr.send(data);
    });
</script>
{{end}}

{{if eq .page "registration"}}
<script>
    $('#createButton').on('click', function (e) {
        var email = document.getElementById("inputEmail").value;
        var password = document.getElementById("passwordInput").value;
        var password2 = document.getElementById("passwordInput2").value;
        var nickname = document.getElementById("inputNickname").value;
        if (password != password2) {
            alert("Passwords are not equal!");
            return;
        }

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        if (!validateEmail(email)) {
            $result.text(email + " is valid :)");
            $result.css("color", "green");
            return;
        }

        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"

            ));
            return matches ? decodeURIComponent(matches[1]) : 'undefined';
        }

        var bookId = getCookie("bookToReturnFromUpload");
        console.log(bookId);
        var xhr = new XMLHttpRequest();
        var data = JSON.stringify({
            "email": email,
            "nickname": nickname,
            "password": password
        });
        xhr.open('POST', "/api/v1/register", false);
        xhr.setRequestHeader('Content-Type', 'application/json');

        if (typeof bookId === "undefined") {
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    window.location.href = "/";
                } else {
                    alert("Nickname or email is already registered!");
                    window.location.href = "/register";
                }
            };
            xhr.send(data);

        }else{
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    alert("Redirecting to book"+bookId);
                    document.cookie = "bookToReturnFromUpload=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.href = "/book/"+bookId;
                } else {
                    alert("Nickname or email is already registered!");
                    window.location.href = "/register";
                }
            };
            xhr.send(data);
        }




    });
</script>
{{end}}


{{if eq .page "userprofile"}}
<script>
    function donate(){
              window.location.href = "/uploadPage/0";
    }
    function returnTaken(){
                window.location.href = "/books/taken/0";
    }
</script>

<script>
    function exchange(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/v1/makeBookCross',false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = "/";
                return;
            }
        };
        xhr.send();
    }
</script>
        <script>
            function showReserved() {
                xhr.open('GET', '/api/v1/books/showReserved', false);
                xhr.send();
                if (xhr.status != 200) {
                    alert(xhr.status + ': ' + xhr.statusText);
                } else {
                    var takenBooks = document.getElementById('reservedBooks');
                    var data = JSON.parse(xhr.responseText);
                    var i = 0;
                    for (i; i < data.data['Book'].length; i++) {
                        console.log(data.data['Book'][i]['id']);
                        // alert(data.data['Book'][i]['id']);
                        var newLi = document.createElement('li');
                        newLi.innerHTML = "<a href='/api/v1/updateBookStatusReturn/" + data.data['Book'][i]['id'] + "/"+ param + "'>" + data.data['Book'][i]['title'] + "</a>";
                        takenBooks.appendChild(newLi)
                        // document.getElementById('takenBookList').innerHTML = "<a href='/api/v1/updateBookStatus/" + data.data['Book'][i]['id'] + "'>" + data.data['Book'][i]['title'] + "</a>" ;
                    }
                }
            }
        </script>
        <script>
            $('#saveButton').on('click', function (e) {
                var nickname = document.getElementById("nicknameInput").value;
                var email = document.getElementById("emailInput").value;
                var passwordOld = document.getElementById("passwordInputOld").value;
                var passwordNew1 = document.getElementById("passwordInputNew1").value;
                var passwordNew2 = document.getElementById("passwordInputNew2").value;

                if(passwordNew1!=passwordNew2){
                    alert("Passwords doesnt mach");
                    return
                }

                var xhr = new XMLHttpRequest();
                xhr.open('PUT', "/api/v1/userProfile", false);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.location.href="/";
                        return;
                    } else {
                        alert("wrong old password");
                        window.location.href = "/userProfile";
                        return;
                    }
                };

                var notification_get_new_books=false;
                if ($('#notificationNewBooks').is(":checked")) {
                    notification_get_new_books = true;
                }
                var notification_get_when_book_reserved=false;
                if ($('#notificationReservedBook').is(":checked")) {
                    notification_get_when_book_reserved = true;
                }
                var notificationDailyy=false;
                if ($('#notificationDaily').is(":checked")) {
                    notificationDailyy = true;
                }
                var body = JSON.stringify({
                    "nickname": nickname,
                    "email": email,
                    "password": passwordOld,
                    "new_passwordd": passwordNew1,
                    "notification_get_new_books":notification_get_new_books,
                    "notification_get_when_book_reserved":notification_get_when_book_reserved,
                    "notification_daily":notificationDailyy
                });
                xhr.send(body);
            });

            <!-- deleteButton -->
            $('#deleteButton').on('click', function (e) {
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', "/api/v1/userProfile", false);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send();
                window.location.href = "/login";
            });

        </script>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "/api/v1/userProfile", false);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                    var json = JSON.parse(xhr.responseText);
                    $('#nicknameInput').val(json.nickname);
                    $('#emailInput').val(json.email);
                    if(json.notification_get_new_books == true){
                        $('#notificationNewBooks').prop( "checked", true );
                    }
                    if(json.notification_get_when_book_reserved == true){
                        $('#notificationReservedBook').prop( "checked", true );
                    }
                    if(json.notification_daily == true){

                        $('#notificationDaily').prop( "checked", true );
                    }

                    if(json.has_book_for_exchange == true){
                        document.getElementById("returnBookRender").innerHTML = '<h4 class="card-title mt-3 text-left">Exchange previously reserved book</h4> ' +
                                '<button type="submit" id="exchangeBookButton" onclick="exchange()" class="btn btn-dark">Return</button>';
                        showReserved();
                    }
                } else if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 400) {
                    window.location.href = "/login";
                }
                else {
                }
            };
            xhr.send();
        </script>
        <script>
            xhr.open('GET', '/api/v1/books/taken/0', false);
            xhr.send();
            if (xhr.status != 200) {
                alert(xhr.status + ': ' + xhr.statusText);
            } else {
                var data = JSON.parse(xhr.responseText);
                console.log(data.data);
                var newLi = document.createElement('li');
                newLi.innerHTML = "<a href='/book/" + data.id  + "'>" + data.title + "</a>";
                takenBooks.appendChild(newLi)

                // if(data.data['Books'].length >= 1){
                //     var takenBooks = document.getElementById('takenBooks');
                //     var i = 0;
                //     for (i; i < data.data['Books'].length; i++) {
                //         console.log(data.data['Books'][i]['id']);
                //         var newLi = document.createElement('li');
                //         newLi.innerHTML = "<a href='/api/v1/updateBookStatusReturn/" + data.data['Books'][i]['id'] + "/" + "'>" + data.data['Books'][i]['title'] + "</a>";
                //         takenBooks.appendChild(newLi)
                //     }
                //     if(i==0){
                //         var newLi = document.createElement('li');
                //         newLi.innerHTML = "<a href='/api/v1/updateBookStatusReturn/" + data.id + "/"+ param + "'>" + data.title + "</a>";
                //         takenBooks.appendChild(newLi)
                //     }
                // }
            }
        </script>

{{end}}


{{if eq .page "uploadpage"}}

<script>
    $('#submitBtn').on('click', function (e) {
        var file = document.getElementById("fileInpt1").files[0]; //this is the input where I can choose the file
        var title = $("#titleText").val();
        if(title==""){
            alert("Title cant be empty");
            return;
        }
        var descr = $("#descriptionText").val();
        if(descr==""){
            alert("Description cant be empty");
            return;
        }

        var fileBase64;
        var reader = new FileReader();
        reader.readAsDataURL(file);

        var url_string = window.location.href;
        var len = url_string.length;
        var param = url_string[len-1];


        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/insertNewBook/'+param,false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                window.location.href= '/userProfile';
            }
        };

        reader.onload = function () {
            fileBase64=reader.result;
            // alert(fileBase64);
            console.log(reader.result);
            var data = JSON.stringify({
                "title": title,
                "description": descr,
                "base_64_img": fileBase64.toString()
            });
            xhr.send(data);
        };
    });

    $('#returnPreviosly').on('click', function (e) {
        var url_string = window.location.href;
        var len = url_string.length;
        var param = url_string[len-1];

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/books/taken/'+param,false);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && this.status == 200) {
                window.location.href= '/books/taken/'+param;
            }
        };
        xhr.send();

    });
</script>
<script>
    function bs_input_file() {
        $(".input-file").before(
                function() {
                    if ( ! $(this).prev().hasClass('input-ghost') ) {
                        var element = $("<input type='file' class='input-ghost' id='fileInpt1' style='visibility:hidden; height:0'>");
                        element.attr("name",$(this).attr("name"));
                        element.change(function(){
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function(){
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function(){
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor","pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
        );
    }
    $(function() {
        bs_input_file();
    });
</script>
{{end}}
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/v1/userProfile", false);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send();
    if (xhr.status != 200) {
        alert(xhr.status + ': ' + xhr.statusText);
    } else {
            var json = JSON.parse(xhr.responseText);
            $('#account').html(json.nickname + "'s profile");
    }
</script>
</body>
</html>
{{end}}