<!-- Footer hm-->
<footer class="py-5 bg-dark footer" style="bottom: 1px;
    width: 100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GoToBooX 2018</p>
    </div>
    <!-- /.container -->
</footer>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/v1', false);
    xhr.send();
    if (xhr.status != 200) {
        alert(xhr.status + ': ' + xhr.statusText);
    } else {
        var popularBooks = document.getElementById('books');
        var data = JSON.parse(xhr.responseText);
        console.log(data.data);
        if (popularBooks) {
            for (var i = 0; i < data.data['Books'].length; i++) {
                var newLi = document.createElement('li');
                var status;
                switch (data.data['Books'][i]['state']){
                    case 'FREE' : status = '/static/img/available.svg';
                        break;
                    case 'TAKEN' : status = '/static/img/taken.svg';
                        break;
                    case 'RESERVED' : status = '/static/img/reserved.svg';
                    break;
                }
                newLi.innerHTML = "<a href='/book/" + data.data['Books'][i]['id'] + "'>" + data.data['Books'][i]['title'] + "</a>"
                + "<img src='" + status + "'> ";
                popularBooks.appendChild(newLi);
            }
        }

    }
</script>

</body>

</html>
