{{define "location"}}
<h2 style="margin-top:2%;">Bookcrossing point location: </h2>
        <p>Using GoToBooX is very simple!

            Choose the book you like, booX it and just upload the new book to exchange!

            Then.. just follow the map, get to the bookshelf that is marked on map, make exchange and confirm it at your profile's page!

            That's it!
        </p>
            <div id="map" style="height: 550px; width: 100%; margin-top: 5%"></div>
            <script>function initMap() {
                    var uluru = {lat: 48.465, lng: 35.0443};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_9Plv4RiP5lu8AKV5BX_iooZSDNiXycQ&callback=initMap">
            </script>
{{end}}