{{template "header" .}}
{{template "nav" .}}
<div class="wrapper">
    <div class="container content">
        <div class="row">
<div class="div-box mb mt">
    <div class="foo">
        <span class="letter" data-letter="T">T</span>
        <span class="letter" data-letter="H">H</span>
        <span class="letter" data-letter="A">A</span>
        <span class="letter" data-letter="N">N</span>
        <span class="letter" data-letter="K">K</span>
        <span class="letter" data-letter="S">S</span>
    </div>
    <p align="center"> <strong> <font size="5" color="black" face="Arial"> for returning booXie to its family</font></strong></p>
    <p align="center"> <strong><font size="4.5" color="black" face="Arial"> Please, choose which one: </font></strong></p>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-photo">
                    <div id="sync1" class="owl-carousel owl-template">
                        <div class="item">
                            <ul class="list1a" id="takenBooks">

                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
<div class="col-md-7">
    <div class="single-product-content">
        <div class="summary-product entry-summary">
            <h2 id="title"></h2>

            <div class="description" id="description">
                <p></p>
            </div>

            <div class="add-to-wishlist">
                <div class="add-button show">
                </div>
            </div>

            <div class="product_meta"><span class="product-stock-status-wrapper">
            </span>
        <div class="social-share-wrap"></div>
    </div>
</div>
        </div>
    </div>
</div>
    </div>
</div>
        </div></div>
</div>
{{template "footer" .}}
