<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/js/jquery-1.11.1.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <div class="col-md-6 col-md-offset-6">
        <form class="form-horizontal" role="form">
            <fieldset>

                <!-- Form Name -->
                <h4 class="card-title mt-3 text-left">Account Details</h4>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Nickname</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Youre nickname" class="form-control" id="nicknameInput">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Email</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Your Email" class="form-control" id="emailInput">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Password</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Youre password" class="form-control" id="passwordInput">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button type="submit" id="saveButton" class="btn btn-primary">Save changes</button>
                            <button type="submit" id="deleteButton" class="btn btn-default">Delete user</button>
                            <button type="submit" id="goBackButton" class="btn btn-default">Go back</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<script>

    $('#saveButton').on('click', function (e) {
        var nickname = document.getElementById("nicknameInput").value;
        var email = document.getElementById("emailInput").value;
        var password = document.getElementById("passwordInput").value;
        var xhr = new XMLHttpRequest();
        xhr.open('PUT', "/api/v1/userProfile", false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                var json = JSON.parse(xhr.responseText);
                window.location.href = window.location.protocol + window.location.hostname + "/userProfile";
            } else {
                window.location.href = window.location.protocol + window.location.hostname;
            }
        };
        var body = JSON.stringify({
            "nickname": nickname,
            "email": email,
            "password": password
        });
        xhr.send(body);
    });

    <!-- deleteButton -->
    $('#deleteButton').on('click', function (e) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', "/api/v1/userProfile", false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send();
        window.location.href = window.location.protocol + window.location.hostname + "/login";
    });

    $('#goBackButton').on('click', function (e) {
        window.location.href = window.location.protocol + window.location.hostname+"/";
    });
</script>

<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/v1/userProfile", false);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
            var json = JSON.parse(xhr.responseText);
            $('#nicknameInput').val(json.nickname);
            $('#emailInput').val(json.email);
            $('#passwordInput').val(json.password);
        } else if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 400) {
            window.location.assign("/login");
        }
        else {
        }
    };
    xhr.send();
</script>

{{template "footer.tmpl.html"}}

</body>
</html>
